@font-face {
  font-family: "iconfont"; /* Project id 993865 */
  src: url('https://at.alicdn.com/t/font_993865_4txlgdmwfg8.woff2?t=1637563399870') format('woff2'),
       url('https://at.alicdn.com/t/font_993865_4txlgdmwfg8.woff?t=1637563399870') format('woff'),
       url('https://at.alicdn.com/t/font_993865_4txlgdmwfg8.ttf?t=1637563399870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixuan:before {
  content: "\e6a6";
}

.icon-xuanzhong11:before {
  content: "\e6a5";
}
.icon-guanbi:before {
  content: "\e62f";
}